{{#jqm-ulistview inset="true"}}
    {{#jqm-listdivider}}My fields{{/jqm-listdivider}}
    {{#each products as |product|}}
      <li>{{jqm-anchor action=(action "showPanel" product.panel) corners="false" text=product.text icon="carat-r" iconPos="right"}}</li>
    {{/each}}
{{/jqm-ulistview}}
