{{#jqm-ulistview inset="true"}}
  {{#jqm-listdivider}}Hello, {{username}}{{/jqm-listdivider}}
  {{#each options as |option|}}
      <li>{{jqm-anchor action=(action option.action option.actionParam) corners="false" text=option.text icon=option.icon iconPos="left"}}</li>
  {{/each}}
{{/jqm-ulistview}}