{{#jqm-popup id=pId title="Log In" theme="a" closeButton=true dismissible="false"}}
  <form>
    {{jqm-textinput placeholder="Enter username"}}
    {{jqm-textinput placeholder="Your password"}}
    {{jqm-button action=(action "submit" on="submit") text="Log In" icon="check" theme="b"}}
  </form>
{{/jqm-popup}}