<table>
  {{#each buttons as | button |}}
    <tr>
      <td>
        {{jqm-anchor title=button.title inline="true" allCorners="true" icon=button.icon iconPos="notext" theme="b" class=button.class}}
      </td>
    </tr>
  {{/each}}
</table>
