{{#if loading }}
  {{#jqm-component}}
      <div class="ermes-inner-window-center animated bounceInLeft">
        {{#jqm-component role='header'}}
            <h1>Loading...</h1>
        {{/jqm-component}}
          <div style="padding: 1em">
              <div class="animated pulse infinite">
                  <img style="padding: 1em" src="assets/ermes-images/logo.png">
              </div>
          </div>
      </div>
  {{/jqm-component}}
{{/if}}

{{yield}}