body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
}

.ui-btn {
  border: none;
}

.ui-panel {
  border: 0;
}

.ui-panel div.ui-content {
  text-align: center;
}

div.ui-header h1{
  white-space: normal !important;
}

div.ui-block-b h1 {
  font-size: medium;
  margin: .6em 0 0 0;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.ui-block-b img {
  height: 15px;
}

.ermes-bar {
  padding-left: .4em;
  padding-right: .4em;
}

.esri-map {
  padding: 0;
}

.map-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 46px);
  top: 46px;
  bottom: 0;
}

#mapDiv {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ermes-main-logo, #loading-splash {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 15%;
}

.ui-listview {
  min-width: 210px;
}

#loading-splash {
  top: 45%;
}

.ermes-login-buttons {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 48%;

  max-width: 12em;
  min-width: 8em;
}

.ermes-login-language {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
}

.ermes-circular-image img {
  width: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

div.ui-panel table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

div.ui-panel table, th, td {
  border: 1px solid silver !important;
  border-collapse: collapse;
}

div.ui-panel th {
  background-color: #af8a60;
  color: white;
  text-align: center;
}

div.ui-panel td {
  padding: 0 10px 0 10px;
  text-align: left;
}

table.ermes-side-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  z-index: 21;
  text-align: center;
  border: 0;
}

table.ermes-side-buttons td, tr {
  border: 0 !important;
}

.ermes-side-buttons td {
  padding-top: 0.4em;
}

.ermes-btn-med {
  height: 40px;
  width: 40px;
}

.ermes-btn-big {
  height: 56px;
  width: 56px;
}

.ermes-btn-med,
.ermes-btn-big {
  -webkit-border-radius:50% !important;
  -moz-border-radius:50% !important;
  border: none;
  border-radius: 50% !important;
  margin: 0;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

div.ermes-inner-window {
  position: absolute;
  top: 25%;
  left: 5%;
  margin-right: 5%;
  /*margin-right: auto;*/
  margin-left: auto;
  height: auto;
  max-width: 400px;
  background: #FFF;
}
