body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
}

.ui-btn {
  border: none;
}

.ui-panel {
  border: 0;
}

div.ui-block-b h1 {
  font-size: medium;
  margin: .6em 0 0 0;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.ui-block-b img {
  height: 15px;
}

.ermes-bar {
  padding-left: .4em;
  padding-right: .4em;
}

.esri-map {
  padding: 0;
}

.map {
  position: absolute;
  width: 100%;
  height: calc(100% - 46px);
  padding: 0;
  margin: 0;
  top: 46px;
  bottom: 0;
}

.ermes-main-logo, #loading-splash {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 15%;
}

.ui-listview {
  min-width: 210px;
}

#loading-splash {
  top: 45%;
}

.ermes-login-buttons {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 48%;

  max-width: 12em;
  min-width: 8em;
}

.ermes-login-language {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
}
