{{#ermes-panel id=panelId title=(t "fields.options-m.about")}}
  <h2>ERMES AgriNotebook</h2>
  <img src="assets/ermes-images/logo.png">
  <p>{{t "panel.about.content"}}</p>
  <p>&copy;2015</p>
{{/ermes-panel}}
