{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="Agrochemicals" closeButton="true"}}
    <p>This is the content of the agrochemicals panel</p>
{{/jqm-panel}}