{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="Agro chemicals" closeButton="true" routeOnClose="index"}}
    <p>This is the content of the agrochemicals panel</p>
{{/jqm-panel}}