{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="Crop Info" closeButton="true" routeOnClose="index"}}
    <p>This is the content of the soil info panel</p>
{{/jqm-panel}}