{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="Observation" closeButton="true" routeOnClose="index"}}
    <p>This is the content of the observation panel</p>
{{/jqm-panel}}