{{#jqm-panel id=panelId theme="a" position="right" display="overlay" dismissible="false" title="Weeds" closeButton="true" routeOnClose="index"}}
    <p>This is the content of the weeds panel</p>
{{/jqm-panel}}