<!-- Index loading page -->
<div class="ermes-full-window ui-page-theme-a">
  {{#jqm-content}}
      <div class="ermes-center-content" align="center">
          <div>
              <img class="animated pulse infinite" src="assets/ermes-images/logo.png">
          </div>
          <div>
              <p>{{t 'panel.notification.retrieving-info'}}</p>
          </div>
      </div>
  {{/jqm-content}}
</div>
